// --- Mixins ---
@mixin layout-header-footer {
  position: static;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: auto;
  margin: 0;
  padding: 1.5rem 2.5rem;
  // border-radius: 20px;
  // background-color: var(--session-color);
}

//   Box-shadow neumórfico
//   box-shadow: 
//   9px 9px 16px var(--shadow-dark),
//   -9px -9px 16px var(--shadow-light), 
//   inset -1px -1px 2px var(--shadow-dark),
//   inset 1px 1px 2px var(--shadow-light);
// }

.cabecalho-container,
.rodape-container {
  @include layout-header-footer;
}

// --- Sections ---
@mixin layout-main {
  position: relative;
  top: 0;
  left: 15%;
  right: 15%;
  width: calc(100vw - 30%);
  height: 33.4vw;
  margin: 0;
  padding: 1.5rem 2.5rem;
  border-radius: 20px;
  background-color: var(--session-color);

  // Box-shadow neumórfico
  box-shadow: 
  9px 9px 16px var(--shadow-dark),
  -9px -9px 16px var(--shadow-light), 
  inset -1px -1px 2px var(--shadow-dark),
  inset 1px 1px 2px var(--shadow-light);
}

.conteudo-principal {
  @include layout-main;
}

@mixin responsividade {
  
}