# -----------------------
# ⚙️ Diretórios de Build
# -----------------------
dist/
build/
out/

# -----------------------
# 🧹 Arquivos Temporários
# -----------------------
*.log
*.tmp
*.temp
*.swp
*.swo
*.bak
*.git/

# -----------------------
# 🎨 Caches de CSS
# -----------------------
.sass-cache/

# -----------------------
# 🖥️ Sistema Operacional
# -----------------------
.DS_Store
Thumbs.db

# -----------------------
# 💻 IDE / Editor
# -----------------------
.vscode/
.idea/
*.code-workspace

# -----------------------
# 🔐 Variáveis de Ambiente
# -----------------------
.env
.env.*.local
.env.local

# -----------------------
# 📁 Outros
# -----------------------
drafts/
node_modules/