@use "./dark_mode";

@mixin scroll-layout {
  // --- Paleta scrollbar ---
  $sb-thumb-color: var(--thumb-bg-color);
  $sb-size: 15px;

  // Estilo do scrollbar aplicado corretamente
  &::-webkit-scrollbar {
    width: $sb-size;
  }

  &::-webkit-scrollbar-thumb {
    background: $sb-thumb-color;
    border-radius: 10px;
  }

  @supports not selector(::-webkit-scrollbar) {
    scrollbar-color: $sb-thumb-color transparent;
    scrollbar-width: thin;
  }
}

@media (min-width: 1024px) {
  body {
    @include scroll-layout();
  }
}
