@use "../breakpoints" as *;

@include tablet {
  .cabecalho-container,
  .conteudo-principal,
  .rodape-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@include mobile {
  .cabecalho-container,
  .conteudo-principal,
  .rodape-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@include desktop {
  .cabecalho-container,
  .conteudo-principal,
  .rodape-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
