// --- Importações ---
@use "_reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@font-face {
  font-family: "Pixel Twist";
  src: url("../fonts/PIXELTWIST.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

// --- Paleta de Cores ---
$bg-color: #f2f2f2; // Cor principal
$session-color: white; // Cor de fundo da sessão
$border-color: black; // Cor da borda (mesmo que destaque)
$txt-color: black; // Cor do texto
$link-hover: black; // Cor do texto ao passar o mouse

// --- Corpo da Página ---
body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  background-color: $bg-color;

  h1 {
    font-family: "Pixel Twist";
    font-size: 2.5rem;
    margin: 0;
    text-decoration: none;
    color: $txt-color;
  }
}
// --- Cabeçalho ---
header.cabecalho-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: calc(100vw - 6rem);
  height: auto;
  margin: 3rem;
  padding: 1.5rem 2.5rem;
  border-radius: 20px;
  background-color: $session-color;
  box-shadow: 0 0 10px rgba(13, 13, 13, 0.3);
  z-index: 1000; // Garante que fica acima de outros elementos

  // Flexbox para organizar logo e navegação
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-family: "Pixel Twist";
    font-size: 2.5rem;
    margin: 0;
    text-decoration: none;
    color: $txt-color;
  }

  nav#menu-navegacao {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    align-items: center;

    a {
      text-decoration: none;
      color: $txt-color;
      font-size: 1.2rem;
      position: relative;
      transition: all 0.3s ease;

      &:hover {
        transform: translateY(-5px);
      }

      &:active {
        transform: translateY(0);
      }
    }
  }
}
// --- Conteúdo Principal ---
main.Conteudo-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
  margin: 11rem 3rem 0 3rem;
  width: calc(100vw - 6rem);
  padding: 3rem;
  padding: 2.5rem;
  border-radius: 20px;
  background-color: $session-color;
  box-shadow: 0 0 10px rgba(13, 13, 13, 0.3);

  h1,
  h2 {
    color: $txt-color;
    font-size: 2rem;
  }

  section.Sobre-mim-container {
    div#Sobre-mim {
      line-height: 1.5;

      h1 {
        font-family: "Pixel Twist";
      }

      h2 {
        font-weight: 600;
        font-size: 1.1rem;
      }

      p {
        padding: 1rem 0 1rem 0;
      }
    }

    div#link-curriculo {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      margin: 1rem 0 -1rem 0;

      a#botao-curriculo {
        display: inline-block;
        padding: 0.5rem 1rem;
        background: white;
        border: solid 2px $border-color;
        border-radius: 20px;
        font-weight: 600;
        margin: 0.5rem 0 1.5rem 0;
        transition: all 0.3s ease;
        text-decoration: none;
        color: $txt-color;

        strong {
          color: inherit;
          font-size: 1.2rem;
          font-weight: 600;
          transition: color 0.3s ease;
        }

        &:hover {
          background: black;
          border: solid 2px black;
          color: white;
          transform: translateY(-5px);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          cursor: pointer;
        }

        &:active {
          transform: translateY(0);
        }
      }
    }
  }

  div.container {
    div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 2rem;
    }

    h1 {
      text-align: center;
      margin: 2rem;
    }

    // section.Projetos-container {
    // }

    section.Ferramentas-container {
      div[id^="ferramenta"] {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;

        img {
          max-width: 65px;
          height: auto;
          transition: transform 0.3s ease;

          &:hover {
            transform: scale(1.1);
          }
        }

        label {
          font-weight: 600;
          text-align: center;
          font-size: 0.9rem;
          opacity: 0;
          transform: translateY(-20px);
          transition: all 0.3s ease;
        }

        // Quando passar o mouse na div, label desce e aparece
        &:hover {
          label {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
    }

    section.Certificados {
      div.Certificados-Container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;

        div[id^="certificado-"] {
          img {
            max-width: 400px;
            height: auto;
            border: solid 2px $border-color;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(13, 13, 13, 0.5);
            transition: transform 0.3s ease-in-out;

            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }
    }

    section.Badges {

      div.badges-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;

        img {
          max-width: 150px;
          height: auto;
          border: solid 2px $border-color;
          border-radius: 20px;
          box-shadow: 0 0 10px rgba(13, 13, 13, 0.5);
          transition: transform 0.3s ease;
          cursor: pointer;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}

// --- Rodapé ---
footer.rodape-container {
  width: calc(100vw - 6rem);
  margin: 3rem;
  border-radius: 20px;
  background-color: $session-color;
  box-shadow: 0 0 10px rgba(13, 13, 13, 0.3);

  // Layout centralizado usando flexbox
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  min-height: 20vh;

  h1 {
    margin: 0;
    text-align: center;
  }

  // Container dos labels das redes sociais
  #social-labels {
    display: flex;
    align-items: center;
    gap: 1rem;

    span {
      color: $txt-color;
      font-size: 1rem;
      font-weight: 600;
    }
  }

  // Container dos ícones das redes sociais
  #social-icones {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin: -1rem 0 0 0;

    a {
      color: $txt-color;
      font-size: 2rem;
      text-decoration: none;
      padding: 0.5rem;
      border-radius: 8px;
      transition: all 0.3s ease;

      // Melhor área de clique
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        color: white;
        background-color: black;
        transform: translateY(-5px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }

      &:active {
        transform: translateY(0);
      }
    }
  }

  #Creditos {
    p {
      color: $txt-color;
      font-size: 0.8rem;
      text-align: center;
      margin: 0.5rem 0;

      a {
        color: black;
        text-decoration: none;
        font-weight: 700;
      }
    }
  }
}
