// --- Importações ---
@use "./utils/reset";
@use "./utils/dark_mode";
@use "./utils/layout";
@use "./utils/scroll_design";
@use "./responsive/index" as *;
@font-face {
  font-family: "Pixel Twist";
  src: url("/fonts/PIXELTWIST.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* ------------------------------------------ */

// --- Corpo da página ---
body {
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  max-width: 100vw;
  width: 100vw;
  overflow-x: hidden !important; // Previne scroll horizontal
  overflow-y: auto; // Permite scroll vertical em telas pequenas
  transition: background-color 0.3s ease, color 0.3s ease;
  display: flex;
  flex-direction: column;

  @mixin h-config($font-family, $margin, $color, $font-size) {
    font-family: $font-family;
    margin: $margin;
    color: $color;
    font-size: $font-size;
  }

  h1,
  h2 {
    @include h-config("Pixel Twist", 0, var(--text-color), 2rem);
  }

  h3 {
    @include h-config("Pixel Twist", 0, var(--text-color), 1.5rem);
  }

  span,
  a,
  p,
  label {
    font-family: "Raleway", sans-serif;
    margin: 0;
  }

  p,
  a {
    font-size: 1rem;
  }
}

// --- Cabeçalho da página ---
header.cabecalho-container {
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;

    .navegacao-secao {
      margin: 0;

      .menu {
        list-style: none;
        display: flex;
        gap: 2rem;
        align-items: center;

        li {
          transition: all 0.3s ease;

          a {
            display: inline-block;
            text-decoration: none;
            padding: 1rem;
            margin: 0;
            border-radius: 6px;
            transition: transform 0.28s cubic-bezier(0.2, 0.9, 0.3, 1),
              box-shadow 0.28s, color 0.2s;
            transform: translateY(0);
            color: var(--text-color);

            &::after {
              content: "";
              display: block;
              width: 0;
              height: 3px;
              margin-top: 5px;
              background: currentColor;
              transition: width 0.3s ease-out;
            }

            &:hover {
              transform: translateY(-8px); // "nav sobe"
              font-weight: 700;
              box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);

              &::after {
                width: 100%;
              } // underline aparece ao subir
            }

            &:active {
              transform: translateY(3px); // "nav desce"
              box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
            }

            &.active {
              font-weight: 700;
              color: var(--text-color);
              background-color: rgba(var(--text-color), 0.1);

              &::after {
                width: 100%;
              }
            }
          }

          span {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

// --- Conteúdo Principal ---
main.conteudo-principal {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 0;

  .principal-container {
    flex: 1;
    display: block;
    margin: 0 auto;
    text-align: center;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    overscroll-behavior: contain;
    scroll-behavior: smooth;
    padding: 0;

    > div {
      padding: 1.5rem;
      margin: 0 auto 5rem auto;
      max-width: 1200px;
      width: 90%;
      scroll-margin-top: 8rem;

      &#introducao {
        .introducao-info {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;
          color: var(--text-color);

          .texto-introducao {
            flex: 1;
            max-width: 60%;
            text-align: left;
          }

          .slide-nome {
            position: relative;
            display: inline-block;
            height: 1.75rem;
            width: 15rem;
            vertical-align: middle;

            span {
              position: absolute;
              left: 0;
              top: 0;
              color: transparent;
              -webkit-text-stroke: 0.7px var(--text-color);
              animation: display-text 8s linear infinite;
              animation-delay: calc(-4s * (var(--i) - 1));

              &::before {
                content: attr(data-text);
                position: absolute;
                width: 0;
                border-right: 2px solid var(--text-color);
                color: var(--text-color);
                white-space: nowrap;
                overflow: hidden;
                animation: fill-text 4s linear infinite;
              }
            }
          }

          h2 {
            z-index: 1;
          }

          h2,
          h3 {
            padding-bottom: 1rem;
          }

          h3 {
            min-height: 3rem;
            display: inline-flex;
            align-items: center;
            gap: 0.5rem;
          }

          p {
            text-align: left;
            font-size: 15px;
            font-weight: 500;
            z-index: 1;
            line-height: 1.5;
            text-align: justify;
            padding: 0 0 0.5rem 0;
          }

          #link-curriculo {
            margin-top: 1.5rem;
            text-align: left;
          }
          #botao-curriculo {
            display: inline-block;
            padding: 0.75rem 1.5rem;
            border-radius: 20px;
            text-decoration: none;
            background-color: var(--bg-curriculo);
            color: var(--text-curriculo);
            transition: transform 0.3s ease, box-shadow 0.3s ease,
              background-color 0.3s ease, color 0.3s ease;
            strong {
              font-family: "Raleway", sans-serif;
              font-weight: 700;
            }
            &:hover {
              transform: translateY(-5px);
              box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            }
            &:active {
              transform: translateY(2px);
              box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
            }
          }

          .foto-perfil-container {
            position: relative;
            flex: 1;
            max-width: 35%;
            display: flex;
            justify-content: center;
            align-items: center;

            .foto-bg {
              width: 100%;
              aspect-ratio: 1/1;
              border-radius: 50%;
              overflow: hidden;
            }

            img {
              width: 100%;
              object-fit: cover;
            }
          }
        }
      }

      &#habilidades {
        h2 {
          padding-bottom: 3rem;
        }
        .habilidades-container {
          display: flex;
          flex-direction: column;
          padding: 0; // Espaçamento entre os carrosséis
        }

        .nomes-slider,
        .logos-slider {
          position: relative;
          margin: 0 auto;
          padding: 0;
          overflow: visible !important;
          z-index: 1;
          width: 100%;
          height: var(--height);
          mask-image: linear-gradient(
            to right,
            transparent,
            var(--slider-bg-color) 10% 90%,
            transparent
          );

          .list {
            overflow: visible;
            display: flex;
            width: 100%;
            min-width: calc(var(--width) * var(--quantity));
            position: relative;
          }

          .item {
            display: flex;
            position: relative;
            font-weight: 600;
            z-index: 2;
            width: var(--width);
            height: var(--height);
            position: absolute;
            left: 100%;
            animation: autoRun 10s linear infinite;
            transition: filter 0.5s;
            animation-delay: calc(
              (10s / var(--quantity)) * (var(--position) - 1) - 10s
            ) !important;

            img {
              width: 100%;
            }
          }

          &:hover .item {
            animation-play-state: paused !important;
            filter: grayscale(1);
          }

          .item:hover {
            filter: grayscale(0);
          }

          &[reverse="true"] .item {
            animation: reversePlay 10s linear infinite;
          }
        }

        .logos-slider {
          min-height: 15vh; 
          .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 1rem;
            margin-bottom: 5rem;
            label {
              font-weight: 600;
              text-align: center;
              font-size: 0.9rem;
              opacity: 0;
              transform: translateY(-20px);
              transition: all 0.3s ease;
            }
            &:hover {
              transform: scale(1.1);
              label {
                opacity: 1;
                transform: translateY(0);
              }
            }
          }
        }
      }

      &#projetos {
        h2 {
          padding-bottom: 3rem;
        }
        .serenatto-container {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          gap: 2rem;
          flex-wrap: wrap;

          .imagem-projeto {
            flex: 0 0 auto;
            min-width: 29vw;
            border-radius: 10px;
            border: solid var(--text-color) 3px;
            transition: background-image 0.3s ease;
            background-image: var(--serenatto-img);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            min-height: 28.5vh;
          }

          .descricao {
            flex: 1;
            max-width: 55%;

            ul {
              list-style: disc;
              padding-left: 1.5rem;
              margin: 0;
            }

            li {
              padding: 0 0 1rem 0;

              p {
                margin: 0;
                text-align: justify;
                line-height: 1.5;
              }
            }

            strong {
              font-weight: 700;
            }

            a {
              color: var(--text-serenatto);
            }
          }
        }
      }
    }
  }

  @keyframes display-text {
    25%,
    100% {
      display: none;
    }
  }

  @keyframes fill-text {
    10%,
    100% {
      width: 0;
      height: 2rem;
    }

    50%,
    90% {
      width: 100%;
      height: 2rem;
    }
  }

  @keyframes autoRun {
    from {
      left: 100%;
    }
    to {
      left: calc(var(--width) * -1);
    }
  }

  @keyframes reversePlay {
    from {
      left: calc(var(--width) * -1);
    }
    to {
      left: 100%;
    }
  }
}

// --- Rodapé da página ---
footer.rodape-container {
  padding: 1rem;
  scroll-margin-top: 8rem; /* Adicionado para corrigir a sobreposição da âncora */

  h1 {
    margin: 0 0 1rem 0;
    text-align: center;
  }

  a {
    text-decoration: none;
  }

  svg,
  i {
    width: 3rem;
    height: 3rem;
  }

  .social-container {
    gap: 1rem;
    margin: 0;

    .social-link {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      transition: color 0.3s ease;

      // Ícones das redes sociais (Remix Icon)
      i {
        font-size: 2rem;
        border-radius: 8px;
        padding: 0.5rem;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
      }

      // Ícones de email (SVG)
      svg {
        border-radius: 8px;
        padding: 0.5rem;
        transition: transform 0.3s ease, box-shadow 0.3s ease, fill 0.3s ease,
          background-color 0.3s ease;
      }

      // Estados hover para cada rede social
      &:hover {
        i.ri-github-fill {
          color: white;
          background-color: black;
          transform: translateY(-5px);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        i.ri-linkedin-fill {
          color: white;
          background-color: #2165bf;
          transform: translateY(-5px);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        i.ri-instagram-fill {
          color: white;
          background: linear-gradient(
            45deg,
            rgba(254, 218, 117),
            rgba(250, 126, 30),
            rgba(214, 41, 118),
            rgba(150, 47, 191),
            rgba(79, 91, 213)
          );
          transform: translateY(-5px);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
      }

      // Estados hover para emails
      &#gmail:hover {
        svg {
          fill: white;
          background-color: #ea4335;
          transform: translateY(-5px);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
      }

      &#outlook:hover {
        svg {
          fill: white;
          background-color: #0078d4;
          transform: translateY(-5px);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
      }

      // Estados active para redes sociais
      &:active {
        i.ri-github-fill {
          color: white;
          background-color: black;
          transform: translateY(2px);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
        }

        i.ri-linkedin-fill {
          color: white;
          background-color: #2165bf;
          transform: translateY(2px);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
        }

        i.ri-instagram-fill {
          color: white;
          background: linear-gradient(
            45deg,
            rgba(254, 218, 117),
            rgba(250, 126, 30),
            rgba(214, 41, 118),
            rgba(150, 47, 191),
            rgba(79, 91, 213)
          );
          transform: translateY(2px);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
        }
      }

      // Estados active para emails
      &#gmail:active {
        svg {
          fill: white;
          background-color: #ea4335;
          transform: translateY(2px);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
        }
      }

      &#outlook:active {
        svg {
          fill: white;
          background-color: #0078d4;
          transform: translateY(2px);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
        }
      }
    }
  }

  .creditos {
    p,
    a {
      color: var(--text-color);
      text-align: center;
      margin: 1rem 0 0 0;
      line-height: 1.5;
    }

    a {
      font-weight: 700;
      color: var(--text-color);
    }
  }
}
